<form action="/register-profile" method="POST" class="form-example">
    <div class="form-example">
      <label for="name">Enter your Profile Name:</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div class="form-example">
      <label for="bio">Please give a short biography: </label>
      <input type="text" name="bio" id="bio">
    </div>
    <div class="form-example">
      <input type="submit" value="Subscribe!">
    </div>
  </form>